//
//  Production.xcconfig
//  Snapshots
//
//  Created by Uluk Abylbekov on 3/2/26.
//

APS_ENVIRONMENT = production
SUPABASE_URL = https:/$()/ulsckwhhnaxxebrthzpn.supabase.co
SUPABASE_KEY = sb_publishable_cMtvYMTK7HfwzXt-02eXlg_Y1kqdNs6
TERMS_URL = https:/$()/www.notion.so/323de2034815815182d8feff87988288
PRIVACY_URL = https:/$()/www.notion.so/323de203481581b7a3d7c8a3be870743
