//
//  Test.xcconfig
//  Snapshots
//
//  Created by Uluk Abylbekov on 3/2/26.
//
SUPABASE_URL = https:/$()/nmtifjchsgdnfknkpowu.supabase.co
SUPABASE_KEY = sb_publishable_GhjJi1BqBSUatjNAJbPR_g_dzQaIYDp
TERMS_URL = https:/$()/uabylbekov.github.io/snapshots/terms.html
PRIVACY_URL = https:/$()/uabylbekov.github.io/snapshots/privacy.html
